@import url(https://fonts.google.com/specimen/Open+Sans);
p{
    font-family:'Open Sans';
    font-weight: 400;
}
/* 
text-align:justify; - ტექსტს წერს ერთ ზოლში
და შესაძლოა სიტყვებს შორის 1-ზე მეტი space გამოიყენოს 

font-family:;-ში გვაქვს ერთზე მეტი ფონტი ეს არის იმ მიზეზით 
რომ ყველა ბრაუზერს არ აქვს ერთი და იგივე ფონტის მხარდაჭერა
და ამიტომ გვაქვს ერთზე მეტი ფონტი რომ ყველა ბრაუზერში გამოჩნდეს 
სასურველი ფონტი
*/