.div1{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
}
.div2{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
}
.div3{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
}