/* 
cssbattle

link:https://cssbattle.dev/play/eeT9VJRQxbeQJeAtKfTk


code:
<div class="div1"></div>
<div class="div2"></div>
<div class="div3">
  <div class="div4"></div>
</div>
<style>
  body{
    background-color:#8CFADC;
  }
  .div1{
    width:120px;
    height:120px;
    background:#1A4341;
    border-radius:100px;
    margin-top:105px;
    margin-left:113px;
  }
  .div2{
    width:120px;
    height:120px;
    background:#1A4341;
    border-radius:100px;
    margin-top:-120px;
    margin-left:150px;
  }
  .div3{
    width:100px;
    height:100px;
    background-color:#8CFADC;
    align-items:center;
    margin-top:-160;
    rotate:45deg;
    margin-left:140px;
  }
  .div4{
    position:absolute;
    width:60px;
    height:60px;
    background-color:#1A4341;
    top:20px;
    left:20px;
  }
</style>
*/